.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &__dark {
    color: #000000;
  }

  &__light {
    color: var(--third-text-color);
  }
}
